 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body 
{
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  text-align: center;
  background: #007bff;
  width: 100px;
  float: right;
  border-radius: 5px;
  padding:17px;
  margin: 15px;
  transform: translate(-370px);
  a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}

.left {
  float: left;
  font-size: 20px;
  text-decoration: none;
  margin: 30px;
  transform: translate(300px);
  a{
    text-decoration: none;
  }
}



.seatop {
 padding: 0;
 max-width: 700rem;
}

.seatop img{
  width: 100%;
  max-height: 500px;
}

.seatop .text {
  position: absolute;
  text-align: center;
  color: white;
  right: 17%;
  top: 30%;
  font-size: 37px;
  transform: translate(-40%, -20%);
}

.email-1 {
  position: absolute;
  font-size: 70px;

}

label {
  position: relative;

  input[type=text]{
    width: 370px;
    height: 40px;
  }

  button {
   width: 100px;
  height: 40px;
  border-radius: 5px; 
  background:rgb(0 123 255);
  color: white;
  border: none;
  }
}

.flex-container {
  margin: -20px;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  
  .one {
    margin: 100px;
    width: 90px;
    height: 20em;
    font-size: 15px;
  }

  .two {
    margin: 100px;
    width: 90px;
    height: 23em;
    font-size: 15px;

    }

    .three {
     margin: 100px;
      width: 90px;
      height: 21em;
      font-size: 15px;
    }
    
    p {
  text-align: center;
  font-size: 1.2em;
  color: grey;
  padding-bottom: 5px;
    }

    h1 {
      margin: 20px;
      display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 2em;
  color: black;
  padding-bottom: 5px;
  white-space: nowrap;
    }
    
}

main {
  margin: 50px auto;
  max-width: 100%;
}

* {
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:nth-of-type(odd) img {
  float: right;
  margin: 0;
  margin-left: 20px;
}

// section img {
//   float: right;
//   width: 670px;
//   height: 400px;
// }

* {
  padding: 0;
  box-sizing: border-box;
}

section h1 {
  font-size: 1.2em;
  padding-top: 150px;
  padding-bottom: 10px;
  padding-left: 150px;
  float: left;
}

h1 {
  text-align: center;
}

section p {
  text-align: justify;
  padding-left: 150px;
  font-size: .8em;
  color: gray;
  width: 500px;
  height: 100px;
  float: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section img {
  float: left;
  width: 680px;
  height: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section :nth-of-type(odd) img {
  float: right;
  margin: 0;
  margin-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 50px;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.container>div {
  color: gray;
  width: 300px;
}

.container img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.footer {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 350px;
}

.footer img {
  padding-top: 40px;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
  height: 400px;
}

.text {
  position: absolute;
 margin: 50px;
  color: #fff;
  font-size: 5em;
}

.forma {
  position: absolute;
  gap: 5px;
  margin: 250px;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-input {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.button {
  background: #1da1f2;
  color: #fff;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
}

.finish {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fin {
  -webkit-box-direction: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fin a {
  text-decoration: none;
  font-size: 8em;
  text-align: center;
  color: #1da1f2;
}

.fin p {
  font-size: .7em;
  padding-top: 10px;
}

.icon {
  display: flex;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 20px;
  height: 20px;
}

